.DS_Store
.eslintcache
.firebase
.idea
.pnp
.pnp.js
.vscode/*
!.vscode/extensions.json

build
coverage
dist
dist-ssr
firebase-debug.log*
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
